body {
	background-color: #f2f2f2;
	padding-top: 16px;
}

thead {
	color: #ffffff;
	background-color: #77808a;
}

h2, h3 {
	margin-top: 16px;
	margin-bottom: 16px;
}

.center-text {
	text-align: center;
}

.tentative {
	background-color: #f2dede;
}

.panel,
.panel tr {
	border-radius: 0;
}

	.panel.purple {
		color: #ffffff;
		background-color: #8369a9;
	}
	
	.panel.green {
		color: #ffffff;
		background-color: #0aa699;
	}

	.panel.red {
		color: #ffffff;
		background-color: #f34541;
	}
	
	.panel.orange {
		color: #ffffff;
		background-color: #f8a326;
	}

	.panel .fa {
		margin-top: 30px;
	}